on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - check:format
          - check:lint
          - check:types
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run ${{ matrix.command }}
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cypress-io/github-action@v7
        with:
          start: npm run dev
      - uses: actions/upload-artifact@v6
        with:
          path: cypress/videos
          retention-days: 1
          if-no-files-found: ignore
      - uses: actions/upload-artifact@v6
        with:
          path: cypress/screenshots
          retention-days: 1
          if-no-files-found: ignore
